<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uIEyzv0CgII?playlist=uIEyzv0CgII&loop=1&autoplay=1" frameborder="0" gesture="media" autoplay=1 loop=1></iframe>
      </div>
      <div id="counter">
        <div class="right">
          <img src="/assets/Logo-White-01-TM.png" alt="">
          <h3>Total Donated So Far</h3>
        </div>
        <div class="right">
          <h4>$<span class="donation1"><%= @donations1.counter %></span></h4>
          <img id="water" src="/assets/water_org_logo_white.png" alt="">
        </div>
        <div class="right">
          <h4>$<span class="donation2"><%= @donations2.counter %></span></h4>
          <img id="refugee" src="/assets/educated_refugee_foundation.png" alt="">
        </div>
        <div class="right">
          <h3>Scan Your Badge to Give</h3>
          <h5>#SimplusGives</h5>
        </div>
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">

  $('#water').on('click',function(){
    $.ajax({
      url: '/donate/water',
      method: 'get',
      success: function(serverResponse){
        // console.log("Click received this from the server:",serverResponse)
        $('.donation1').html(serverResponse.donation)
      }
    })
  })

  $('#refugee').on('click',function(){
    $.ajax({
      url: '/donate/refugee',
      method: 'get',
      success: function(serverResponse){
        // console.log("Click received this from the server:",serverResponse)
        $('.donation2').html(serverResponse.donation)
      }
    })
  })

  var check_progress = setInterval(function(){checkDonations()},30000)

  function checkDonations(){
    $.ajax({
      url: '/update_progress',
      method: 'get',
      success: function(serverResponse){
        // console.log("Auto check received this from the server:",serverResponse)
        $('.donation1').html(serverResponse.donation1)
        $('.donation2').html(serverResponse.donation2)
      }
    })
  }
</script>
